body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    min-height: 115px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    padding: 20px;
}

.header_text {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Bebas Neue';
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.adress {
    justify-self: end;
    font-size: 18px;
    line-height: 22px;
    text-align: end;
}

h1 {
    font-size: 60px;
    font-family: 'Oswald';
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
    grid-template-rows: auto auto;
}

main section:first-child {
    min-width: 450px;
    display: grid;
    grid-template-rows: 1fr auto auto auto;
}

main section a {
    border: solid 0.5px black;
    padding: 10px;
    display: block;
    width: 90%;
    text-align: center;
    font-family: 'Oswald';
}

main section a:hover {
    background-color: black;
    color: aliceblue;
    transition: 1s;
}

section p {
    font-size: 24px;
    line-height: 28px;
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    grid-column: 2/5;
    grid-row: 2/3;
}

.slider-controls div {
    display: flex;
    gap: 10px;
}

.slider-controls span {
    display: inline-block;
    border: 6px solid #E5E5E5;
    border-radius: 10px;
    align-self: center;
}

.slider-controls span:nth-of-type(1) {
    display: inline-block;
    border: 6px solid black;
    border-radius: 10px;
    background-color: black;
}


nav {
    display: grid;
    padding: 55px 0 79px 20px;
}

nav a {
    border: 1px solid black;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding: 10px;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald';

}

nav a:nth-child(3) {
    border-bottom: 1px solid black;
}

footer {
    min-height: 153px;
    background-color: black;
    color: aliceblue;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 20px;
}

footer div h3 {
    font-family: 'Bebas Neue';
    font-size: 24px;
    line-height: 29px;
}

.grey-text {
    color: #797979;
}

.footer-text {
    font-size: 20px;
    line-height: 27px;
    justify-self: center;
}