body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    min-height: 115px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    padding: 20px;
}

.header_text {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Bebas Neue';
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

header div {
    justify-self: end;
    text-align: end;
}

header div a {
    text-align: end;
}

address.adress {
    justify-self: end;
    font-size: 18px;
    line-height: 22px;
    text-align: end;
    font-style: normal;
}

h1 {
    font-size: 60px;
    font-family: 'Oswald';
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
    grid-template-rows: auto auto;
}

main section:first-child {
    
    display: grid;
    grid-template-rows: 1fr auto auto auto;
}

.main__link {
    border: solid 0.5px black;
    padding: 10px;
    display: block;
    width: 90%;
    text-align: center;
    font-family: 'Oswald';
}

.main__link:hover {
    background-color: black;
    color: aliceblue;
    transition: 1s;
}

section p {
    font-size: 24px;
    line-height: 28px;
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    grid-column: 2/5;
    grid-row: 2/3;
}

.slider-controls div {
    display: flex;
    gap: 10px;
}

.slider-controls span {
    display: inline-block;
    border: 6px solid #E5E5E5;
    border-radius: 10px;
    align-self: center;
}

.slider-controls span:nth-of-type(1) {
    display: inline-block;
    border: 6px solid black;
    border-radius: 10px;
    background-color: black;
}


nav {
    display: grid;
    padding: 55px 0 79px 20px;
}

nav a {
    border: 1px solid black;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding: 10px;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald';
    padding-left: 0;
}

nav a:nth-child(3) {
    border-bottom: 1px solid black;
}

footer {
    min-height: 153px;
    background-color: black;
    color: aliceblue;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
}

footer div h3 {
    font-family: 'Bebas Neue';
    font-size: 24px;
    line-height: 29px;
}

.grey-text {
    color: #797979;
    grid-column: 1/2;
    grid-row: 2/3;
}

.footer-text {
    font-size: 20px;
    line-height: 27px;
    justify-self: center;
    grid-row: 1/3;
}

@media (min-width: 1024px) {
    .call {
        display: none;
    }
}

@media (max-width: 1023px) {
    header div {
        display: none;
    }

    .slider-controls a {
        visibility: hidden;
    }

    .slider-controls div {
        align-self: center;
    }

    main {
        grid-template-areas: "section1 section1 section1"
            "section2 section3 section4"
            "link-zakaz link-call slider"
        ;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section:first-child {
        grid-area: section1;
    }

    main section:nth-child(2) {
        grid-area: section2;
    }

    main section:nth-child(3) {
        grid-area: section3;
    }

    main section:nth-child(4) {
        grid-area: section4;
    }

    main a.main__link {
        grid-area: link-zakaz;
    }

    main a.call {
        grid-area: link-call;
    }

    .slider-controls {
        grid-area: slider;
    }

    nav {
        padding-left: 0;
        padding-right: 0;
    }

    nav a {
        padding-left: 10px;
    }

    footer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 2fr;
    }

    .logo {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    div.grey-text {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .footer-text {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: start;
    }

    .contacts {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

@media (max-width: 376px) {

    .container {
        width: 100%;
    }

    img {
        max-width: 140px;
    }

    header {
        min-height: 50px;
        padding: 10px;
    }

    .logo {
        font-size: 16px;
        line-height: 19px;
    }

    main {
        grid-template-areas: "section1 section1"
            "section2 section3"
            "link-zakaz link-call";
        padding: 10px;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    main section:first-child {
        width: 300px;
    }

    main h1 {
        font-size: 36px;
        line-height: 43px;
    }

    main a {
        max-width: 140px;
        font-size: 16px;
        line-height: 19px;
        padding: 5px 0;
    }

    section p {
        font-size: 16px;
        line-height: 20px;
    }

    .slider-controls,
    main section:nth-child(4) {
        display: none;
    }

    .main__link {
        padding: 5px 0;
    }

    nav {
        padding: 20px 0;
    }

    nav a {
        font-size: 16px;
        line-height: 19px;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 320px;
        padding: 10px;
    }

    footer div h3 {
        font-size: 16px;
        line-height: 19px;
    }

    footer div p {
        font-size: 16px;
        line-height: 19px;
    }

    div.grey-text {
        order: 1;
        font-size: 10px;
        line-height: 8px;
    }
}